.repo-wrapper {
  padding-bottom: 10px;
}

.repo-wrapper article {
  display: flex;
}

.repo-wrapper article main {
  flex: 8;

  padding-left: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.repo-wrapper article main h4 {
  font-size: calc(8px + 2vw);
  font-weight: 900;
  margin: 0;
}

.repo-wrapper article main p {
  font-size: calc(2px + 1vw);
}

.repo-wrapper article aside {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.repo-wrapper svg {
  width: 100%;
  height: 75%;
}
