.blog-wrapper {
  height: auto;
}

/* .blog-wrapper .blog-content {
  height: 94vh;
} */

.blog-wrapper .blog-content #blog-title {
  font-size: 6vw;
  margin-top: 0;
}

.blog-wrapper .blog-content .home-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-wrapper .blog-content .home-holder .a-home {
  width: 45vw;
  height: 200px;
  border: 2px solid green;
}
.blog-wrapper .blog-content .home-holder .a-home.javascript svg {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .blog-wrapper .blog-content #workers {
    width: 75vw;
  }
}

@media only screen and (min-width: 601px) {
  .blog-wrapper .blog-content #workers {
    width: 60vw;
  }
}
