.skillsWrapper {
  /* Dimensions */
  height: auto;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsWrapper .skillsContent {
  width: 80vw;
  margin: 50px 0px;
  height: 90%;
}

.skillsWrapper .skillsContent h3 {
  font-size: calc(15px + 3vw);
  padding-top: 20px;
  margin: 0;
}

.icon-holder {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.icon-holder svg {
  min-width: 50px;
  min-height: 50px;
}

/* .icon-holder svg > * {
  fill: var(--accentDark);
} */

.skill-category {
  display: flex;
  flex-direction: row;
}

.aSkill {
  margin-right: 10px;
}

span {
  text-align: left;
}

.label-holder {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
}
