.skillsWrapper {
  /* Dimensions */
  height: auto;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsWrapper .skillsContent {
  width: 80vw;
  margin: calc(10px + 1vw) 0px;
  height: 90%;
}

.skillsWrapper .skillsContent h3 {
  font-size: calc(15px + 3vw);
  margin: 0;
}

.icon-holder {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.icon-holder svg {
  min-width: calc(10px + 2vw);
  min-height: calc(10px + 2vw);
}

.skill-category {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-left: 12px;
}

.aSkill {
  margin-left: 10px;
}

/*? Fills in the SVGs with a theme color */
.aSkill svg > * {
  fill: var(--accentDark);
}

span {
  text-align: left;
}

.label-holder {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
}

.label-holder span {
  font-size: calc(5px + 2vw);
}
