.headerWrapper {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
}

/*! === List Stuff === !*/

.headerWrapper .wide .link-holder {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  padding-right: 2vw;

  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.headerWrapper .header-item {
  text-decoration: none;
}

.headerWrapper > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerWrapper .wide .link-holder a {
  text-decoration: none;
  font-size: calc(8px + 0.75vw);
  border-bottom: 2px solid transparent;
  padding: 0 10px;

  display: flex;
  align-content: center;
}

.headerWrapper .wide .link-holder a:hover {
  text-decoration: none;
  color: var(--txt);
  border-bottom: 2px solid var(--txt);
}

.headerWrapper .wide .link-holder a:active {
  text-decoration: none;
  color: var(--txt);
}

.headerWrapper .wide .link-holder a:visited {
  text-decoration: none;
  color: var(--txt);
}

/*! === List Stuff === !*/

/** === Theme Stuff === **/

.headerWrapper .theme-wrapper {
  padding-left: 1vw;

  display: flex;
  justify-content: flex-start;
}

.headerWrapper .theme-wrapper svg {
  width: 25px;
  height: 25px;
  fill: var(--txt);
  cursor: pointer;
}

/** === Theme Stuff === **/

.headerWrapper .wide {
  display: flex;
  justify-content: flex-end;
}

.headerWrapper .narrow {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .headerWrapper .wide {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .headerWrapper .narrow {
    display: none;
  }
}

#burger g rect {
  fill: var(--txt);
}
