.headerWrapper {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: flex-end;
}

.Desktop {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-holder {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  padding-right: 20px;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header-item {
  text-decoration: none;
}

.link-holder a {
  text-decoration: none;
  font-size: calc(8px + 0.75vw);
  border-bottom: 2px solid transparent;
  padding: 0 10px;

  display: flex;
  align-content: center;
}

.link-holder a:hover {
  text-decoration: none;
  color: var(--dark-textColor);
  border-bottom: 2px solid grey;
}

.link-holder a:active {
  text-decoration: none;
  color: var(--dark-textColor);
}

.link-holder a:visited {
  text-decoration: none;
  color: var(--dark-textColor);
}
