.animationWrapper {
  height: auto;
  background-color: var(--darkBlue);
  overflow: auto;
}

.animationWrapper h3 {
  font-size: calc(15px + 3vw);
  margin: 0;
  padding-top: 20px;
}

.animationWrapper .animationContent {
  width: 70vw;
  border-radius: 20px;
  margin: 50px 0px;
  display: inline-block;
  background-color: var(--blue);
  height: 90%;
}
