.hobbiesWrapper {
  /* Colors  */
  color: var(--textColor);
  background-color: var(--background);

  height: auto;
  overflow: auto;
}

.hobbiesWrapper h3 {
  font-size: calc(15px + 3vw);
  padding-top: 20px;
  margin: 0;
}

.hobbiesWrapper .hobbiesContent {
  border: 2px solid var(--accentMedium);
  background-color: var(--accentLight);

  border-radius: 20px;
  width: 70vw;
  margin: 50px 0px;
  display: inline-block;
  height: 90%;
}
