.introWrapper {
  width: 100%;
  height: auto;
  background-color: var(--myRed);
  text-align: center;
  overflow: hidden;
}

.introContent {
  width: 70vw;
  margin: 50px 0px;
  display: inline-block;
  background-color: var(--myLemon);
  color: black;
  height: 90%;
}
.introContent h3 {
  font-size: calc(15px + 4vw);
  margin: 0;
}

.introContent p {
  font-size: calc(10px + 1vw);
  margin: 10px 40px;
  overflow: auto;
}
