.introWrapper {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.introWrapper .introContent {
  width: 80vw;
  margin: calc(10px + 1vw) 0px;
  height: 90%;

  display: flex;
}

.introContent h3 {
  font-size: calc(15px + 4vw);
  margin: 0;
  padding-top: 20px;
}

.introContent p {
  font-size: calc(10px + 1vw);
  margin: 10px 40px;
  overflow: auto;
}

.introWrapper .introContent svg {
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
}

.introWrapper .introContent aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
