.introWrapper {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .introWrapper .introContent {
    width: 95vw;
  }
}

@media only screen and (min-width: 601px) {
  .introWrapper .introContent {
    width: 80vw;
  }
}

.introWrapper .introContent {
  margin: calc(10px + 1vw) 0px;
  height: 90%;

  display: flex;
  justify-content: center;
}

.introContent h3 {
  font-size: calc(15px + 4vw);
  margin: 0;
  padding-top: 20px;
}

.introContent p {
  font-size: calc(10px + 1vw);
  margin: 2vh 2vw;
  overflow: auto;
}

.introWrapper .introContent svg {
  width: calc(50px + 10vw);
  height: calc(50px + 10vw);
}
