.footer-wrapper {
  height: max-content;

  display: flex;

  font-size: calc(4px + 1vw);
}

.footer-wrapper div {
  height: 50px;
  padding: 1vh 1vw;
}

.footer-wrapper .socials {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper .socials span {
  margin-right: 8px;
  text-align: center;
}

.footer-wrapper .socials a {
  margin: 0px 8px;
  font-size: 10px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .footer-wrapper .socials svg {
    width: 28px;
    height: 28px;
  }
  .footer-wrapper .socials a {
    font-size: 8px;
  }
  .footer-wrapper .socials span {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .footer-wrapper .socials svg {
    width: 40px;
    height: 40px;
  }
}

.footer-wrapper .backToTop {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper .backToTop:hover {
  cursor: pointer;
}
