#App {
  text-align: center;
  display: block;
  font-family: "Roboto Mono", monospace;
  background-color: var(--bg);
  color: var(--txt);
}

a {
  text-decoration: none;
  color: var(--txt);
}

a:hover {
  text-decoration: none;
  color: var(--txt);
}

a:active {
  text-decoration: none;
  color: var(--txt);
}

a:visited {
  text-decoration: none;
  color: var(--txt);
}

.light-theme {
  --bg: #fcf8ec;
  --txt: #292929;
  --accent: #ededed;
  --acc-light: #cfcfcf;
  --acc-dark: #cfcfcf;
}

.dark-theme {
  --bg: #0d1117;
  --txt: #eff8ff;
  --accent: #717177;
  --acc-light: #dad9e4;
  --acc-dark: #424a55;
}

.red-theme {
  --bg: #502721;
  --txt: #eff8ff;
  --accent: #bd4444;
  --acc-light: #e79c9c;
  --acc-dark: #330505;
}

.blue-theme {
  --bg: #292457;
  --txt: #eff8ff;
  --accent: #344ac9;
  --acc-light: #7d8ff0;
  --acc-dark: #15113f;
}

.green-theme {
  --bg: #2e5a2d;
  --txt: #eff8ff;
  --accent: #29a73a;
  --acc-light: #5ce973;
  --acc-dark: #185318;
}
