:root {
  --background: #e9e7e3;
  --textColor: #0f0f0f;
  --accentLight: #dfdfdf;
  --accentMedium: #ededed;
  --accentDark: #456268;

  /* Light Theme:  */
  --light-bg: #fcf8ec;
  --light-text: #0f0f0f;
  --light-accentLight: #dfdfdf;
  --light-accentMedium: #ededed;
  --light-accentDark: #456268;

  /* Dark Theme:  */
  --dark-bg: #0d1117;
  --dark-textColor: #eff8ff;
  --dark-accentLight: #616872;
  --dark-accentMedium: #424a55;
  --dark-accentDark: #161b22;
}
