:root {
  --darkestBlue: #0a1128;
  --darkBlue: #001f54;
  --blue: #034078;
  --lightBlue: #1282a2;
  --white: #fefcfb;

  /* Light Theme:  */

  /* Dark Theme:  */
  --dark-bg: #0d1117;
  --dark-accent: #161b22;
}
